/* Navigation styles */

/* Column styles */

/* Footer Styles */
.logo {
    background: white;
    height: 230px;
    background-image: url("../images/jakes-logo.png"); 
    background-repeat: no-repeat;
    background-position: center;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 20px;
}